numpy>=1.24,<2
pandas==1.2.3
requests==2.25.1
openai
sniffio
pydantic-core
idna
h11
exceptiongroup
distro
colorama
certifi
annotated-types
tqdm
pydantic
httpcore
anyio
httpx
decorator==5.1.1
jedi>=0.16
matplotlib-inline==0.1.7
prompt-toolkit<3.1.0,>=3.0.41
pygments>=2.4.0
stack-data
traitlets>=5.13.0
scikit-learn
asteval>=0.9.28
dill>=0.3.4
uncertainties>=3.1.4
asttokens>=2.1.0
pure-eval
six>=1.12.0
flask
dotenv
#langchain-community
#langchain
#langchain_openai==0.1.13  
#langchain-core
#psycopg2
#python-dotenv
#langgraph